/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
*{
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
    padding: 0px;
}
