<div class="types-datiled">
    <div class="type-banner">
        <svg viewBox="0 0 1920 600" preserveAspectRatio="none" class="background">
            <path d="M400 598.9l1520-152.8v164.4H0v-288z" class="st0"></path>
            <path d="M923.4 546.3l996.6-97.4V1.5h-851z" class="st1"></path>
        </svg>
        <div class="type-info ">
            <h1><span>Virtuoso</span> <br> Personality</h1>
            <div class="code">ISTP-A / ISTP-T</div> <span data-v-7e23d0ae="" class="link__text">
                What’s the difference?
            </span>
        </div>

    </div>

</div>